body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

div {
  text-align: left;
}

table,th,td {
  border: solid 1px #000000;
  border-collapse: collapse;
}

td {
  width: 50px;
}

.FizzBuzz {
  background-color: antiquewhite;
}

.Fizz {
  background-color: aqua;
}

.Buzz {
  background-color: aquamarine;
}